@font-face {
  font-family: StayClassy;
  src: url("./assets/Fonts/Stay\ Classy.otf");
}

@font-face {
  font-family: Ubuntu;
  src: url("./assets/Fonts/Ubuntu-Medium.ttf");
}

html,
body {
  box-sizing: border-box;
  /* overflow: hidden; */
  margin: 0;
  background-color: black;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: visible;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  display: none;
}

.Particles {
  height: 100vh;
  width: 100vw;
  position:absolute;
  top: 0%;
  left: 0%;
  
}

.heyText {
  color: #FCD900;
  font-size: 52px;
  display: flex;
  font-family: StayClassy;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.down-arrow {
  color: white;
  position: absolute;
  width: 40px;
  height: 40px;
  /* top: 88%; 
  left: 50%;
  margin-left: -50px;
  bottom: 10px;  */

  left: 50%;
  top: 90%;
  transform: translate(0%, -50%);
}



.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0;
  }
}

.down-arrow {
  animation: jumpInfinite 2.5s infinite;
}


.FlexText{
  font-family: Ubuntu;
  transform: translate(-200px,-150px);
  padding-bottom: 100px;
  z-index: 100;
  margin: 20px auto;
}

.Cards{
display: flex ;
flex-direction: row;
align-items: center;
position: absolute;
gap: 100px;

}

.CardsContainer{
  position: absolute;
  width: 100vw;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.nameContainer{
  z-index: 3;
  font-family: Ubuntu;
}


.stars_pg_2{
  justify-content: center;
  position: relative;
  top: -300px;
  left: -230px;
  pointer-events: none;
}

.stars_pg_3{
  position: absolute;
  pointer-events: none;
}

.pepTalk{
  position: absolute;
  top: -50px;
  
  white-space: nowrap;
}

.socialsContainer{
  position: relative;
  display: flex;
  top: 50px;
  gap: 100px;
}

.icons{
  width: 100px;
}


@media only screen and (min-width: 1200px) {
  .Particles {
    z-index: 1;
  }
}

@media only screen and (max-width: 768px) {
  .FlexText{
    font-family: Ubuntu;
    transform: scale(0.4);
    top: -120px;
    position: relative;
  }

  .socialsContainer{
    position: relative;
    gap: 10px;
  }

  .pepTalk{
    position: absolute;
    top: -50%;
    left: -50%;
    margin-left: 20px;
    transform: scale(0.5);

  }

  .icons{
    width: 50px;
  }

  .stars_pg_2, .stars_pg_3{
    display: none;
  }

  .CardsContainer{
    position: absolute;
    padding-top: 500px;
    align-items: center;
    justify-content: center;
    top: -50%;
    left: 50%;
    transform: translate(-80%, -40%);
    z-index: 50;
  }
  
  .Cards{
    margin: 20px auto;
    height:800px;
    display:grid;
    grid-template-columns: 300px 300px;
    grid-row: auto auto;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
  }

  .Particles {
    position: fixed;
  }
}